@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo&display=swap");
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  position: relative;
  background-color: #e8e8e8;
  box-sizing: border-box;
  border-top: solid 30px #5588a3;
  border-bottom: solid 30px #5588a3;
  overflow: hidden;
}

.Top {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: #3e6e7f;
  color: #ffffff;
  border-radius: 30px 30px 225px 30px;
  margin-top: -100px;
  margin-left: -75px;
  font-family: 'Anton', sans-serif;
}
.Top h3 {
  margin-left: 100px;
  margin-top: 100px;
  font-size: 25px;
  width: 100px;
  line-height: 60px;
}
.Top h3 span {
  background-color: yellowgreen;
  font-size: 50px;
}

.screen {
  width: 100%;
  height: 100%;
  left: 100%;
}

.namecard {
  position: fixed;
  width: 300px;
  height: 200px;
  left: 50%;
  top: 50%;
  padding: 0px 20px 30px 20px;
  overflow: hidden;
  background-color: #00334e;
  color: #fff;
  border: solid 1ps rgba(0, 0, 0, 0.15);
  box-shadow: 20px 25px 15px -15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: 微軟正黑體;
  transition: 0.5s;
}
.namecard hr {
  border-color: #fff;
  margin-top: -15px;
  margin-bottom: 20px;
}
.namecard h2 {
  font-size: 25px;
}
.namecard span {
  font-size: 18px;
}
.namecard h5 {
  font-size: 16px;
  font-weight: 400;
}

.namecard:hover {
  transform: translate(-50px, -50px);
  box-shadow: -20px -25px 15px -15px rgba(0, 0, 0, 0.5);
}

.allbub {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  z-index: -3;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #333;
}
@keyframes falling {
  0%,100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    transform: translate(100%, 0px);
  }
  100% {
    transform: translate(0px, 100%);
  }
}
.allbub [class*='bub'] {
  background-color: gold;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: falling 2s infinite;
}
.allbub .bub1 {
  position: absolute;
  left: 97.6024869697%;
  top: 14.1781338169%;
  animation-delay: -0.1s;
}
.allbub .bub2 {
  position: absolute;
  left: 31.8854599865%;
  top: 71.8700769163%;
  animation-delay: -0.2s;
}
.allbub .bub3 {
  position: absolute;
  left: 75.3507141205%;
  top: 14.6791844051%;
  animation-delay: -0.3s;
}
.allbub .bub4 {
  position: absolute;
  left: 15.3063348779%;
  top: 63.7390470445%;
  animation-delay: -0.4s;
}
.allbub .bub5 {
  position: absolute;
  left: 47.1799266226%;
  top: 22.1236740562%;
  animation-delay: -0.5s;
}
.allbub .bub6 {
  position: absolute;
  left: 16.7760405088%;
  top: 5.606947169%;
  animation-delay: -0.6s;
}
.allbub .bub7 {
  position: absolute;
  left: 0.8187648526%;
  top: 63.8840773553%;
  animation-delay: -0.7s;
}
.allbub .bub8 {
  position: absolute;
  left: 27.8781093682%;
  top: 19.1222807913%;
  animation-delay: -0.8s;
}
.allbub .bub9 {
  position: absolute;
  left: 42.6522224197%;
  top: 28.7199665906%;
  animation-delay: -0.9s;
}
.allbub .bub10 {
  position: absolute;
  left: 99.9719059216%;
  top: 80.7389759279%;
  animation-delay: -1s;
}
.allbub .bub11 {
  position: absolute;
  left: 13.7440870574%;
  top: -1.1537957506%;
  animation-delay: -1.1s;
}
.allbub .bub12 {
  position: absolute;
  left: 14.2831511213%;
  top: -2.6078266705%;
  animation-delay: -1.2s;
}
.allbub .bub13 {
  position: absolute;
  left: 44.7280328187%;
  top: 26.879297358%;
  animation-delay: -1.3s;
}
.allbub .bub14 {
  position: absolute;
  left: 49.4316048197%;
  top: 31.4330076838%;
  animation-delay: -1.4s;
}
.allbub .bub15 {
  position: absolute;
  left: 94.4034500876%;
  top: 71.5258728824%;
  animation-delay: -1.5s;
}
.allbub .bub16 {
  position: absolute;
  left: 26.042462494%;
  top: 1.6103504894%;
  animation-delay: -1.6s;
}
.allbub .bub17 {
  position: absolute;
  left: 78.1143528191%;
  top: 80.5631694349%;
  animation-delay: -1.7s;
}
.allbub .bub18 {
  position: absolute;
  left: 65.7617079664%;
  top: -6.3011631734%;
  animation-delay: -1.8s;
}
.allbub .bub19 {
  position: absolute;
  left: 80.7835570655%;
  top: 13.7503346754%;
  animation-delay: -1.9s;
}
.allbub .bub20 {
  position: absolute;
  left: 84.5326569818%;
  top: 49.2014679059%;
  animation-delay: -2s;
}

@keyframes back {
  0% {
    background-color: #643e7f;
  }
  25% {
    background-color: #e4ff1c;
  }
  50% {
    background-color: #446375;
  }
  75% {
    background-color: #3dcc6a;
  }
  100% {
    background-color: #643e7f;
  }
}
.allbub {
  animation: back 8s infinite;
}

@keyframes title {
  0% {
    margin-top: -200px;
    margin-left: -300px;
  }
  50% {
    margin-top: -75px;
    margin-left: -50px;
  }
  100% {
    margin-top: -100px;
    margin-left: -75px;
  }
}
.Top {
  animation-name: title;
  animation-duration: 1.5s;
}

.wrap {
  position: fixed;
  width: 300px;
  height: 200px;
  right: 65%;
  top: 50%;
}

.pig {
  animation: pig-bounce 1s infinite;
  position: relative;
  width: 330px;
  height: 270px;
  transition: transform 2s linear 0.2s;
  z-index: 2;
}

.pigShadow {
  animation: pig-shadow 1s infinite;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  height: 50px;
  position: relative;
  right: -50px;
  width: 220px;
  z-index: 1;
}

.pig:before {
  content: '';
  animation: pig-before-anim 1s infinite;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.25) 29%, rgba(255, 255, 255, 0) 70%);
  display: block;
  height: 30px;
  position: absolute;
  width: 30px;
  z-index: 4;
}

.pig:after {
  content: '';
  animation: pig-after-anim 1s infinite;
  background: linear-gradient(to bottom, transparent 0%, #999999 100%);
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 4;
}

.face {
  width: 100%;
  height: 250px;
  border-radius: 50%;
  background-color: #ffdab9;
}

.ear {
  position: absolute;
  width: 0;
  height: 0;
  background: transparent;
  border-top: 30px solid #ff6347;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  top: 80px;
  z-index: 2;
}

.ear.right {
  right: 100px;
}

.ear.left {
  left: 100px;
}

.eye {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #000;
  top: 110px;
  border-radius: 50%;
}

.eye.left {
  left: 100px;
}

.eye.right {
  right: 100px;
}

.nose {
  position: absolute;
  width: 60px;
  height: 40px;
  background: #ff6347;
  border-radius: 15px;
  top: 140px;
  left: 135px;
}

.nostril {
  position: absolute;
  width: 6px;
  height: 25px;
  background: #8b4513;
  border-radius: 50%;
  top: 145px;
  z-index: 1;
}

.nostril.right {
  right: 150px;
}

.nostril.left {
  left: 150px;
}

@keyframes pig-bounce {
  0% {
    bottom: 30px;
    clip-path: ellipse(22% 32% at 50% 50%);
  }
  50% {
    bottom: -50px;
  }
  70% {
    bottom: -50px;
    clip-path: ellipse(31% 18% at 50% 50%);
  }
  100% {
    bottom: 30px;
    clip-path: ellipse(22% 32% at 50% 50%);
  }
}
@keyframes pig-shadow {
  0% {
    bottom: 30px;
    clip-path: ellipse(22% 34% at 50% 50%);
  }
  70% {
    bottom: 25px;
    clip-path: ellipse(31% 18% at 50% 50%);
  }
  100% {
    bottom: 30px;
    clip-path: ellipse(22% 34% at 50% 50%);
  }
}
@keyframes pig-before-anim {
  0% {
    height: 30px;
    left: 50%;
    top: 45%;
    width: 30px;
  }
  50% {
    height: 45px;
    left: 47%;
    top: 52%;
    width: 45px;
  }
  70% {
    height: 45px;
    left: 47%;
    top: 52%;
    width: 45px;
  }
  100% {
    height: 30px;
    left: 50%;
    top: 45%;
    width: 30px;
  }
}
@keyframes pig-after-anim {
  0% {
    background: linear-gradient(to bottom, transparent 0%, #555 100%);
    height: 60%;
  }
  50% {
    background: linear-gradient(to bottom, transparent 0%, #777 100%);
    height: 100%;
  }
  70% {
    background: linear-gradient(to bottom, transparent 0%, #777 100%);
    height: 100%;
  }
  100% {
    background: linear-gradient(to bottom, transparent 0%, #555 100%);
    height: 60%;
  }
}
h3 {
  font-family: 'Swanky and Moo Moo', cursive;
}
